body {
    font-family: 'Open Sans', sans-serif;
  }
  

/* nav style*/
nav{
    display: flex;
}

.nav_title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.orange-r{
    color: #FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}

.button-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.button-primary:hover{
    color: #FD6E0A;
    background-color: white;
    border: white 2px solid;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



